USE [master]
GO
ALTER DATABASE [TESTE_VALENTINA_INTEGRACAO_20180214] SET RECOVERY SIMPLE WITH NO_WAIT
--select concat ('ALTER DATABASE ',name, ' SET RECOVERY SIMPLE WITH NO_WAIT;') from sys.databases where name like '%TESTE%' --and name like '%IMP%'

GO
